In [3]:
ulang=8
for i in range(ulang):
 print("perulangan ke- ",i)

perulangan ke-  0
perulangan ke-  1
perulangan ke-  2
perulangan ke-  3
perulangan ke-  4
perulangan ke-  5
perulangan ke-  6
perulangan ke-  7

In [13]:
x=[ ]
n=5
for i in range(n):
    x.append (int(input("masukkan data")))

masukkan data 17
masukkan data 13
masukkan data 04
masukkan data 10
masukkan data 95

In [15]:
for i in range(3):
    i+=2
    print(i)

2
3
4

In [19]:
n=5
x=[ ]
for i in range(n):
    x.append(int(input("masukkan data")))
    print("masukkan data", x)

masukkan data 3

masukkan data [3]

masukkan data 4

masukkan data [3, 4]

masukkan data 5

masukkan data [3, 4, 5]

masukkan data 6

masukkan data [3, 4, 5, 6]

masukkan data 7

masukkan data [3, 4, 5, 6, 7]

In [21]:
for i in range(5):
    i=i+4
    print(i)

4
5
6
7
8

In [25]:
for i in range(1,5):
    print(i)
else:
    print("perulangan berakhir")
print("done")

1
2
3
4
perulangan berakhir
done

In [29]:
for i in range(1,10,2):
    print (i)

1
3
5
7
9

In [33]:
for i in "loving jeonghan":
    print (i)

l
o
v
i
n
g

j
e
o
n
g
h
a
n

In [35]:
data_list=[1,2,4,6,7]
for i in data_list:
    print(i)

1
2
4
6
7

In [39]:
data_list=[4,10,13,17]
for i in range(len(data_list)):
    print(data_list)

[4, 10, 13, 17]
[4, 10, 13, 17]
[4, 10, 13, 17]
[4, 10, 13, 17]

In [41]:
seventeen=["seungcheol", "jeonghan", "joshua", "jun", "hoshi", "wonwoo", "woozi", "mingyu", "dokyeom", "minghao", "seungkwan", "vernon", "dino"]
for i in seventeen:
    print(i)

seungcheol
jeonghan
joshua
jun
hoshi
wonwoo
woozi
mingyu
dokyeom
minghao
seungkwan
vernon
dino

Batlah program yang menampilkan bilangan genap dari 2 sampai 20 menampilkan menggunakan perulangan

In [50]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

Buatlah program yang menghitung dan menampilkan hasil penjumlahan dari angka 1 hingga 10 menggunakan perulangan

In [57]:
jumlah=0
for i in range(1,11):
    jumlah=jumlah+i
print("hasil penjumlahan dari angka 1 hingga 10 adalah: ", jumlah)

hasil penjumlahan dari angka 1 hingga 10 adalah:  55

## FOR DIDALAM LIST

In [64]:
n=int(input("masukkan jumlah data: "))
list_data=[float(input("masukkan data: ")) for _ in range (n)]
print("data kamu adalah ",list_data)

masukkan jumlah data:  3
masukkan data:  2.3
masukkan data:  5.8
masukkan data:  1.2

data kamu adalah  [2.3, 5.8, 1.2]

list_data=[ ]
for i in range(2):
    list_data.append(float(input("masukkan data:")))
    print("data yang ku dapat adalah ", list_data)

## NESTED LOOP

In [71]:
for i in range (1,3):
    for j in range (1,11):
        print(i,"*",j,"=",i*j)
    print()
print("terima kasih! ")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

terima kasih!

In [75]:
n=int(input("masukkan jumlah baris: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print(' ')

masukkan jumlah baris:  8

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [81]:
n=int(input("masukkan jumlah baris: "))
for i in range(n):
    for j in range (i+1):
        print(j+1, end=" ")
    print(' ')

masukkan jumlah baris:  8

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8